*{
    margin: 0;
    padding: 0;
}
.divblock{
    min-height: 50px;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}
#div1{
    width: 200px;
    height: 200px;
    background-color: red;
}
#div4 div{
    display: none;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
#div4 div:first-child{
    display: block;
}
.active{
    background-color: green;
}
#div5{
    width: 200px;
    height: 200px;
}
#div5 input{
    width: 50px;
    height: 45px;
    margin-bottom: 2px;
}
#div6{
    width: 200px;
    border: 1px solid black;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
#div7{
    width: 80px;
    height: 20px;
    border: 1px solid black;
}
#div8{
    display: none;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    border: 1px solid black;
}
#photobox{
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 215px;
    margin: auto auto;
    background-color: red;
}
#photos{
    position: absolute;
    top: 0;
    left: 0;
    width: 1600px;
}
#photos li{
    float: left;
    width: 200px;
    height: 215px;
}
.divblock1{
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
#div9{
    position: absolute;
    left: -150px;
    width: 150px;
    height: 200px;
    background-color: green;
}
#span1{
    line-height: 20px;
    position: absolute;
    top: 70px;
    right: -20px;
    width: 20px;
    height: 70px;
    color: white;
    background-color: blue;
}
